{% extends 'accounts/email_base.html' %}
{% block title %}Password Reset – DoctorFinder{% endblock %}

{% block header %}
<div class="header"><h1>Password Reset</h1></div>
{% endblock %}

{% block content %}
<p>Hi {{ user.username }},</p>
<p>Click the button below to reset your password. This link expires in 24 hours.</p>
<p style="text-align:center;">
  <a href="{{ reset_url }}" class="button">Reset Password</a>
</p>
{% endblock %}

{% block footer %}
<div class="footer">© {{ current_year }} DoctorFinder. All rights reserved.</div>
{% endblock %}

<div class="wrapper">
    <div class="header">
      <h1>Password Reset Request</h1>
    </div>
    <div class="content">
      <p>Hi {{ user.username }},</p>
      <p>We received a request to reset the password for your DoctorFinder account.</p>
      <p>Click the button below to set a new password. This link will expire in 24 hours.</p>
      <p style="text-align:center; margin:2rem 0;">
        <a href="{{ reset_url }}" class="button">Reset My Password</a>
      </p>
      <p>If you didn’t request a password reset, you can safely ignore this email – your account is still secure.</p>
      <p>Best regards,<br/>The DoctorFinder Team</p>
    </div>
    <div class="footer">
      © {{ current_year }} DoctorFinder. All rights reserved.
    </div>
  </div>
</body>
</html>
